.container_cust {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 100%;
    /*width: 70%;*/
    display: flex;
    /*flex-direction: column;*/
    /*background-color: #0d6efd;*/
    justify-content: center;
    flex-wrap: nowrap;
    /*flex-grow: 1;*/
    /*flex-shrink: 0;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1{
    /*height: 100%;*/
    /*flex: 1;*/
    width: 50%;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .btnRegister{
    font-weight: 600;
    color: #fff;
    background-color: #ffffff;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.register-container{
    height: 100%;
    width: 70%;
    display: flex;
    flex-grow: 0;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    /*margin-top: 5%;*/
    /*margin-bottom: 5%;*/
}
.register-form {
    width: 80%;
    padding: 5%;
    margin: 2%;
    border-width: 2px;
    border-color: #6c757d;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
}