<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="{{ url_for('static',
       filename='css/about_us.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section id="about">
        <div class="about-1">
            <h1>About Us</h1>
                <p>Symptom_reader is a cutting-edge web application designed to deliver accurate medical 
                diagnoses based on user-reported symptoms. It offers comprehensive home remedies and 
                over-the-counter medication recommendations for various medical conditions. Inspired by the 
                need for accessible and reliable health information, Symptom_reader seamlessly integrates 
                holistic and medical treatment options. Beyond identifying illnesses, Symptom_reader 
                empowers users with the knowledge to effectively manage and treat their symptoms.</p>
        </div>
        <div id="about-2">
            <div class="container">
                <div class="card">
                    <div class="card-items">
                                <h3>Amanda Mabunda</h3>
                                <p>Founder and contributor of symptom_reader 
                                [https://github.com/Gloireski/symptom_reader.git] Amanda is a graduate in Biotechnology with extensive 
                                laboratory and food safety experience She brings her expertise in HTML, CSS, and Python 
                                Flask, honed at Holberton School (link). Connect with Amanda on Github 
                                [https://github.com/Amanda-Amata], twitter [https://x.com/Amatas_aura], and linkedin 
                                [https://www.linkedin.com/in/amanda-mabunda-62a4b322a/]</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-items">
                            <h3>Belem</h3>
                            <p>Co-Founder and contributor of symptom_reader 
                                [https://github.com/Gloireski/symptom_reader.git] Belem is a graduate in Biotechnology with extensive 
                                laboratory and food safety experience She brings her expertise in HTML, CSS, and Python 
                                Flask, honed at Holberton School (link). Connect with Amanda on Github 
                                [link], twitter [link], and linkedin 
                                [lnk]</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-items">
                            <h3>Abdullateef</h3> 
                            <p>Co-Founder and contributor of symptom_reader 
                                [https://github.com/Gloireski/symptom_reader.git] Abdullateef is a graduate in Biotechnology with extensive 
                                laboratory and food safety experience She brings her expertise in HTML, CSS, and Python 
                                Flask, honed at Holberton School (link). Connect with Amanda on Github 
                                [link], twitter [link], and linkedin 
                                [link]</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
