<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/Home_page.css">
    <title>Hello, world!</title>

</head>

<body>
    <!--Navigation_Bar-->
    <nav class="navbar navbar-expand-lg py-3 sticky-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
                <img  class="logo" src="../static/logo/symtpomm.png" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>:
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Home_page.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about_us.html">About Us</a>
                    </li>
		    <li class="nav-item">
			 <a class="nav-link active" href="#">Feature Section</a>
		    </li>
                    <li class="nav-item2">
                        <a class="nav-link active" href="#">Sign In</a>
                    </li>
                </ul>
                <button class="btn-primary ms-lg-3"> FeedBack </button>
            </div>
        </div>
    </nav> <!--Navigaton_Ends-->

    <div class="wordss vh-100 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-4 text-white">Your HEALTH matters <br> Take it's SERIOUSLY</h1>
                    <p class="text-white  ">Good health is one of life's greatest assets, yet it's often taken for granted until it starts to falter.
                        The truth is maintaining your well-being should be a top priority every single day.
                        Your health impacts every aspect of your life, from your energy levels and productivity to your overall happiness and longevity.</p>
                        <a href="#" class="btn btn-primary">Check your Symptoms</a>
                    </div>
            </div>
        </div>

    </div>

    <section id="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto text-center">
                    <h1>Our Services</h1>
                    <p>Take charge of your well-being today and <br>
                        embrace a lifestyle that supports your overall health and happiness.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 ">
                    <div class="service card-effect">
                        <div class="iconbox ">
                            <i class='bx bxs-capsule'></i>
                        </div>
                        <h5 class="mt-4 mb-2">SymptomReader</h5>
                        <p>SymptomMD is a cutting-edge healthcare technology company dedicated to empowering individuals with convenient and accessible medical solutions. Our innovative platform combines advanced symptom analysis with a comprehensive database of medications, providing users with personalized treatment recommendations right at their fingertips.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 ">
                    <div class="service card-effect">
                        <div class="iconbox ">
                            <i class='bx bxs-capsule'></i>
                        </div>
                        <h5 class="mt-4 mb-2">MISSION</h5>
                        <p>Our mission is to revolutionize the way people approach their healthcare by offering a seamless and user-friendly experience.</p>
                        <p>We strive to bridge the gap between individuals and professional medical expertise, ensuring that accurate and reliable information is readily available when needed</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 ">
                    <div class="service card-effect">
                        <div class="iconbox ">
                            <i class='bx bx-plus-medical'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Medic_Tips/Plus-medical</h5>
                        <p> We analyze symptoms and recommend appropriate OTC drugs like pain relievers, cough/cold remedies, and antacids.</p>
                        <p>In addition to conventional medications, we suggest safe and effective herbal alternatives and traditional remedies specific to different cultures and regions.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
