<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom_reader</title>
    <link rel="stylesheet" href="landing.css"
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
</head>
<body>

    <section>
        <header>
            <h2> <a href="#" class= "logo"> Symptom_reader</a></h2>
            <div class="navigation">
                <a href="#">Home</a>
                <a href="#">About Us</a>
                <a href="#">Services</a>
                <a href="#">Sign In</a>
            </div>
            <label > 
                <i class ="fas fa-bars menu-btn"></i>
                <i class ="fas fa-times close-btn"></i>
            </label>
        </header>
        <div class="content">
            <div class="Info">
                <h2>Your HEALTH matters <br><span>Take it Seriously!</span></h2>
                <div class="content 2"> <p> Good health is one of life's greatest assets, yet it's often taken for granted until<br> it starts to falter.
                    The truth is, maintaining your well-being should be a top priority every single day. 
                    Your health impacts every aspect of your life,<br> from your energy levels and productivity to your overall happiness and longevity. </p></div>
            </div>
        </div>
    
    </section>
    
</body>
</html>
