<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/sidebarstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav Class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="#" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Symptom-Reader</span>
                    <span class="function">Diagnosis</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-links">
                        <a href="#">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class='bx bx-file icon' ></i>
                            <span class="text nav-text">Create New Form</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class='bx bx-history icon'></i>
                            <span class="text nav-text">Symptom Tracking</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main class="content">
        <h1>Hello {{ first_name }}, your Diagnosis is:</h1>
        <div id="results">
            {% if results %}
                <ul>
                    {% for disease in results %}
                        <li>{{ disease }}</li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>Sorry our database could not determine your illness please contact your medical service provider for a diagnosis</p>
            {% endif %}
        </div>
    </main>
    <script src="../static/js/sidebarscript.js"></script>
</body>
</html>
