<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Symptom reader Form</title>
    <link rel="stylesheet" href="../static/css/user_form.css">
    <link href=”https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css” rel=”stylesheet” integrity=”sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU” crossorigin=”anonymous”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="title">User Symptom Form</div>
    <form action="/submit_form" method="POST">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" name="first_name" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
                <span class="details">Last Name</span>
                <input type="text" name="last_name" placeholder="Enter your name" required>
            </div>
            <div class="input-box">
                <span class="details">Weight</span>
                <input type="text" name="weight" placeholder="Enter your weight" required>
            </div>
            <div class="input-box">
                <span class="details">Height</span>
                <input type="text" name="height" placeholder="Enter your height" required>
            </div>
            <div class="input-box">
                <span class="medical-history">Medical History</span>
                <select name="Illnesses" multiple>
                    <option value="hypertension">Hypertension (High Blood Pressure)</option>
                    <option value="diabetes">Diabetes Mellitus (Type 1 or Type 2)</option>
                    <option value="asthma">Asthma</option>
                    <option value="heart-disease">Heart Disease (e.g., Coronary Artery Disease)</option>
                    <option value="stroke">Stroke</option>
                    <option value="kidney-disease">Chronic Kidney Disease</option>
                    <option value="liver-disease">Liver Disease (e.g., Hepatitis, Cirrhosis)</option>
                    <option value="cancer">Cancer</option>
                    <option value="autoimmune">Autoimmune Diseases (e.g., Lupus, Rheumatoid Arthritis)</option>
                    <option value="thyroid-disorder">Thyroid Disorders (e.g., Hypothyroidism, Hyperthyroidism)</option>
                    <option value="gastrointestinal">Gastrointestinal Diseases (e.g., Crohn's Disease, Ulcerative Colitis)</option>
                    <option value="neurological">Neurological Disorders (e.g., Epilepsy, Multiple Sclerosis)</option>
                    <option value="mental-health">Mental Health Conditions (e.g., Depression, Anxiety)</option>
                    <option value="hiv">HIV/AIDS</option>
                    <option value="tuberculosis">Tuberculosis</option>
                    <option value="obesity">Obesity</option>
                    <option value="anemia">Anemia</option>
                    <option value="allergies">Allergies (e.g., Hay Fever, Food Allergies)</option>
                </select>
            </div>
            <p class="instruction">Hold down the Ctrl (or Command on Mac) key while clicking to select multiple options.</p>
            <div class="input-box">
                <span class="symptoms-items">Symptoms</span>
                <select name="symptoms" multiple required>
                    <option value="Fatigue">Fatigue</option>
                    <option value="Headache">Headache</option>
                    <option value="Breathlessness">Shortness of breath</option>
                    <option value="Chest Pain">Chest pain</option>
                    <option value="Back Pain">Abdominal pain</option>
                    <option value="Joint Pain">Joint pain</option>
                    <option value="Cough">Cough</option>
                    <option value="Dizziness">Dizziness</option>
                    <option value="Blurred And Distorted Vision">Blurred and distored vision</option>
                    <option value="Swelling Of Stomach">Swelling of stomach</option>
                    <option value="Nausea">Nausea</option>
                    <option value="Mild Fever">Mild Fever</option>
                    <option value="Sweating">Sweating</option>
                    <option value="High Fever">High Fever</option>
                    <option value="Weight Loss">Unexplained weight loss</option>
                    <option value="Vomiting">Vomiting</option>
                    <option value="Skin Rash">Skin Rash</option>
                    <option value="Diarrhoea">Diarrhoea</option>
                    <option value="Continuous Sneezing">Continuous Sneezing</option>
                    <option value="Itching">Itchy, watery eyes</option>
                    <option value="Watering From Eyes">Watery eyes</option>
                    <option value="Loss Of Appetite">Appetite loss</option>
                    <option value="Muscle Pain">Muscle Pain</option>
                    <option value="Chills">Chills</option>
                    <option value="Swollen Legs">Swollen Legs</option>
                    <option value="Muscle Weakness">Muscle weakness</option>
                    <option value="Skin Peeling">Pale skin</option>
                    <option value="confusion">Confusion</option>
                </select>
            </div>
            <p class="instruction">Hold down the Ctrl (or Command on Mac) key while clicking to select multiple options.</p>
        </div>
        <div class="button">
            <input type="submit" value="Diagnose">
        </div>
    </form>
</div>
<script src=
"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" 
        crossorigin="anonymous">
</script>
<script src=”https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js” 
        integrity=”sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ” 
        crossorigin=”anonymous”>
</script>
</body>
</html>
